#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border: 1px solid white;
}

.app {
  position: relative;
  background-color: bisque;
}

.drawer {
  position: fixed;
  bottom: 0;
  right: 50%;
  padding: 1rem 4rem;
  background-color: lightblue;
  color: black;
  font-size: 1rem;
  transition: bottom 0.3s ease-in-out 0s;
}

.back-to-top {
  height: 40px;
  background-color: greenyellow;
  color: black;
}

.long {
  height: 3000px;
  width: 50px;
}
