#root {
  width: 600px;
  position: relative;
  margin: 0 auto;
  border: 1px solid white;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.app {
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: flex-end;
  background-color: bisque;
}

.drawer {
  width: 600px;

  position: fixed;
  bottom: 0;
  background-color: lightblue;
  color: black;
  font-size: 1rem;
  transition: bottom 0.3s ease-in-out 0s;
}

.back-to-top {
  width: 600px;
  height: 2rem;
  padding-top: 1rem;
  background-color: greenyellow;
  color: black;
}

.long {
  height: 3000px;
  width: 50px;
}
